.contact-info {
    padding: 2rem;
    gap: 1rem;
    height: 100%;
    flex-shrink: 0;

    .card-box {
        width: fit-content;
    }

    .contact-info__header {
        font-size: 3rem;
    }

    .contact-info__description {
        font-size: 1.5rem;
        white-space: nowrap;
    }

    .contact-info__body {
        display: flex;
        gap: 1rem;
        width: 100%;
        height: 100%;
        justify-content: space-between;

        .contact-info__body__item {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            text-align: center;
            align-items: center;
            flex: 1;
            height: 100%;
            min-width: 0;
            padding-top: 6rem;
            background: linear-gradient(171deg, rgba(235, 246, 255, 1) 10%,
                    rgba(241, 249, 255, 1) 27%,
                    rgba(246, 251, 255, 1) 63%,
                    rgba(255, 255, 255, 1) 79%);

            img {
                height: auto;
                width: 16rem;
                padding-bottom: 3rem;
            }

            .item-text-content-wrapper {
                display: flex;
                flex-direction: column;
                row-gap: 3.5rem;
            }

            .MuiChip-root {
                width: fit-content;
                align-self: center;
                background-color: #bde1ff;
            }

            .MuiChip-label {
                font-size: 1.125rem;
                font-weight: bold;
            }

            .phone-number-chip {
                
            }
        }
    }
}