.topview-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    height: 100%;
    flex-shrink: 0;

    .topview-container__info {
        flex: 1;
        text-align: start;
        display: flex;
        flex-direction: column;
        margin: 2rem;
        gap: 1rem;

        .topview-container__info__header {
            font-size: 3rem;
        }

        .topview-container__info__title {
            font-size: 2rem;
        }

        .topview-container__info__description {
            height: auto;

            .title {
                font-size: 1.5rem;
            }

            .description {
                font-size: 1rem;
                display: flex;
                align-items: center;
                line-height: 1.75rem;
            }
        }
    }

    .img-container {
        flex: 1;
        flex-grow: 0.5;
        height: 100%;
        justify-content: center;
        display: flex;
        align-items: end;
        position: relative;
        overflow: hidden;

        img {
            justify-content: center;
            position: absolute;
        }

        .portrait-img-container {
            border-radius: 50%;
            align-self: center;
            z-index: 2;
            overflow: hidden;
            background-repeat: round;
            border: 0.25rem solid #d1dfe8;
            padding-top: 20%;
            background-image: url("../../../public/images/portraitimgbackground.png");

            img.portrait {
                position: relative;
            }
        }


        img.background-1 {
            z-index: 1;
            right: 0;
            top: 0;
        }

        img.background-2 {
            z-index: 1;
            left: 0;
            bottom: 0;
            rotate: 180deg;
        }
    }

    .differently-sized-boxes {
        display: grid;
        grid-template:
            "box3 box3 box3 box5"
            "box2 box2 box7 box5"
            "box4 box4 box4 box8"
            "box6 box6 box1 box1";
        gap: 1rem;
        height: 100%;

        .card-box {
            padding: 1rem;
        }

        .box1 {
            grid-area: box1;
        }

        .box2 {
            grid-area: box2;
        }

        .box3 {
            grid-area: box3;
        }

        .box4 {
            grid-area: box4;
        }

        .box5 {
            grid-area: box5;
        }

        .box6 {
            grid-area: box6;
        }

        .box7 {
            grid-area: box7;
        }

        .box8 {
            grid-area: box8;
        }

        &>* {
            justify-self: stretch;
        }
    }
}

@media (max-width: 700px) {
    .topview-container {
        height: auto;
        flex-direction: column !important;

        .topview-container__info {
            width: 100% !important;
        }

        .img-container {
            width: 100% !important;
        }
    }
}