.new-patients {
    padding: 2rem;
    gap: 1rem;
    height: 100%;
    flex-shrink: 0;
    position: relative;

    .card-box {
        width: fit-content;
    }

    .new-patients__header {
        font-size: 3rem;
    }

    .new-patients__description {
        font-size: 1.5rem;
        white-space: nowrap;
    }

    .new-patients__body {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .luminello-img-container {
            width: auto;
            height: 3rem;
            margin-block-end: 2rem;
        }

        .text-item {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .text-item__paragraph {}
        }
    }

    .new-patients__body.card-box {
        padding-inline: 5rem;
        padding-block: 3rem;
    }
}