.fees-payments {
    padding: 2rem;
    gap: 1rem;
    height: 100%;
    flex-shrink: 0;

    .card-box {
        width: fit-content;
    }

    .fees-payments__header {
        font-size: 3rem;
    }

    .fees-payments__description {
        font-size: 1.5rem;
        white-space: nowrap;
    }

    .fees-payments__body {
        gap: 1rem;
    }

    .fees-payments-item {
        gap: 1.5rem;
        width: 100%;

        .header {
            font-size: 2rem;
        }

        .description {}
    }
}