* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}

html,
body,
#root {
	height: 100%;
	width: 100%;
}

.App {
	background: linear-gradient(180deg, rgba(31, 117, 254, 1) 0%, rgba(102, 164, 254, 1) 25%, rgba(175, 213, 255, 1) 71%, rgba(199, 229, 255, 1) 87%, rgba(215, 236, 255, 1) 98%);
	height: 100%;
	text-align: center;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	display: block;
}

.bold {
	font-weight: bold;
}

.app-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.card-box {
	background: rgba(255, 255, 255, 0.28);
	border-radius: 0.5rem;
	box-shadow: 0 0.25rem 30px rgba(0, 0, 0, 0.1);
	-webkit-backdrop-filter: blur(3.4px);
	backdrop-filter: blur(3.4px);
	text-align: start;
	padding: 1.5rem;
	height: fit-content;
}

.color--blue {
	color: #277afe;
}

.flex--row {
	display: flex;
	flex-direction: row;
}

.flex--column {
	display: flex;
	flex-direction: column;
}

.main-background-img {
	background-image: url("../public/images/TopViewBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}